.DS_Store
Asten\ -\ prevodnik/DS_Store
Asten - prevodnik/a.exe
Asten - prevodnik/out.csv
Asten - prevodnik/.DS_Store
Asten - prevodnik/cmake-build-debug/.DS_Store
Asten - prevodnik/cmake-build-debug/CMakeFiles/.DS_Store
